{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css'%}">
    <link rel="stylesheet"
        href="{% static 'assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css'%}">
    <title>SALA</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href=" ">SALA</a>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Menu</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                        </ul>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Bienvenidos al Sistema de Acompañamiento al Aspirante</h2>
                            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel
                                mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Inicio</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Ingreso</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- login page  -->
                <!-- ============================================================== -->
                <div class="splash-container">
                    <div class="card ">
                        <a href="" class="splash-description">SALA</a>
                        <span class="splash-description">Por favor ingrese su información.</span></div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control form-control-lg" id="usuario" name="usuario" type="text"
                                    placeholder="Username" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-lg" id="password" name="password" type="password"
                                    placeholder="Contraseña" required>
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"><span
                                        class="custom-control-label">Recordarme</span>
                                </label>
                            </div>
                            <button type="submit" onclick="Ingresar()" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                        </form>
                    </div>
                    <div class="card-footer bg-white p-0  ">
                        <div class="card-footer-item card-footer-item-bordered">
                            <a href="{% url 'registro' %}" class="footer-link">Crear una cuenta</a></div>
                        <div class="card-footer-item card-footer-item-bordered">
                            <a href="{% url 'recuperarpass' %}" class="footer-link">¿Olvido su contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- social source  -->
            <!-- ============================================================== -->
            <div class="card">
                <h5 class="card-header">Redes Sociales</h5>
                <div class="card-body p-0">
                    <ul class="social-sales list-group list-group-flush">
                        <li class="list-group-item social-sales-content"><span
                                class="social-sales-icon-circle facebook-bgcolor mr-2"><i
                                    class="fab fa-facebook-f"></i></span><span
                                class="social-sales-name">Facebook</span><span
                                class="social-sales-count text-dark">Ingeniería de Telecomunicaciones</span>
                        </li>
                        <li class="list-group-item social-sales-content"><span
                                class="social-sales-icon-circle twitter-bgcolor mr-2"><i
                                    class="fab fa-twitter"></i></span><span
                                class="social-sales-name">Twitter</span><span
                                class="social-sales-count text-dark">Ingeniería de Telecomunicaciones</span>
                        </li>
                        <li class="list-group-item social-sales-content"><span
                                class="social-sales-icon-circle instagram-bgcolor mr-2"><i
                                    class="fab fa-instagram"></i></span><span
                                class="social-sales-name">Instagram</span><span
                                class="social-sales-count text-dark">Ingeniería de Telecomunicaciones</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end social source  -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2019 SALA. Todos los derechos reservados. Dashboard by <a
                                href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">Acerca</a>
                                <a href="javascript: void(0);">Soporte</a>
                                <a href="javascript: void(0);">Contactenos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js'%}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js'%}"></script>
    <!-- main js -->
    <script src="{% static 'assets/libs/js/main-js.js'%}"></script>
    <!-- chart chartist js -->
    <script src="{% static 'assets/vendor/charts/chartist-bundle/chartist.min.js'%}"></script>
    <!-- sparkline js -->
    <script src="{% static 'assets/vendor/charts/sparkline/jquery.sparkline.js'%}"></script>
    <!-- morris js -->
    <script src="{% static 'assets/vendor/charts/morris-bundle/raphael.min.js'%}"></script>
    <script src="{% static 'assets/vendor/charts/morris-bundle/morris.js'%}"></script>
    <!-- chart c3 js -->
    <script src="{% static 'assets/vendor/charts/c3charts/c3.min.js'%}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/d3-5.4.0.min.js'%}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/C3chartjs.js'%}"></script>
    <script src="{% static 'assets/libs/js/dashboard-ecommerce.js'%}"></script>
<script>
    function Ingresar(){
        var usuario = document.getElementById('username').value;
        var pass = document.getElementById('password').value;

        if(usuario == "123" && pass == "123"){
            window.location = "{% url 'creartaller'%}";
        }else{
            alert(usuario);
        }
    }
</script>

</body>

</html>