{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crear taller</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="{% url 'index' %}">SALA</a>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" aria-haspopup="true"
                                aria-expanded="false" data-toggle="modal" data-target="#exampleModal"><img
                                    src="{% static 'assets/images/logout.png' %}" alt=""
                                    class="user-avatar-md rounded-circle"></a>
                </div>
                </li>
                </ul>
        </div>
        </nav>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Salir</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro que desea salir del sistema?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                    <a href="{% url 'logout' %}" class="btn btn-primary">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Menu</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                data-target="#submenu-1" aria-controls="submenu-1"><i
                                    class="fa fa-fw fa-user-circle"></i>Administrador <span
                                    class="badge badge-success">6</span></a>
                            <div id="submenu-1">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                            data-target="#submenu-1-2" aria-controls="submenu-1-2">Usuarios</a>
                                        <div id="submenu-1-2" class="collapse submenu">
                                            <ul class="nav flex-column">
                                                <li class=" nav-item">
                                                    <a class="nav-link" href="{% url 'activardesactivar' %}">Activar
                                                        o
                                                        desactivar
                                                        usuario</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'crear_aspirante_admin' %}"">Crear Aspirante</a>
                                                        </li>
                                                        <li class=" nav-item">
                                                        <a class="nav-link" href="{% url 'crear_docente_admin' %}"">Crear Docente</a>
                                                        </li>
                                                        <li class=" nav-item">
                                                            <a class="nav-link"
                                                                href="{% url 'veraspirantes_admin' %}">Visualizar
                                                                Aspirantes</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'verdocentes' %}">Visualizar
                                                        Docentes</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                            data-target="#submenu-1-1" aria-controls="submenu-1-1">Taller</a>
                                        <div id="submenu-1-1" class="collapse submenu">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'creartaller_admin' %}">Crear
                                                        Taller</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'vertalleres_admin' %}">Visualizar
                                                        Talleres</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    </ul>
                </div>
                </li>
                </ul>
        </div>
        </nav>
    </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-10">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->
                    <!-- basic form  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="section-block" id="basicform">
                                <h3 class="section-title">Crear Taller</h3>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <form action="{% url 'crear_taller_admin_accion' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="nombre" class="col-form-label">Nombre</label>
                                            <input id="nombre" name="nombre" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="codigo" class="col-form-label">Codigo</label>
                                            <input id="codigo" name="codigo" type="number" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion</label>
                                            <textarea class="form-control" id="descripcion" name="descripcion"
                                                rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="capacidad" class="col-form-label">Capacidad</label>
                                            <input id="capacidad" name="capacidad" type="number" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="capacidad" class="col-form-label">Docente</label>
                                            <select class="form-control" id="docente" name="docente">
                                                {% for docente in docentes %}
                                                <option value="{{docente.id}}">{{docente.usuario.first_name}}
                                                    {{docente.usuario.last_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="horario" class="col-form-label">Horario</label>
                                            <input id="horario" name="horario" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-block btn-primary" type="submit">Crear</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    Copyright © 2019 SALA. Todos los derechos reservados. Dashboard by <a
                                        href="https://colorlib.com/wp/">Colorlib</a>.
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="text-md-right footer-links d-none d-sm-block">
                                        <a href="javascript: void(0);">Acerca</a>
                                        <a href="javascript: void(0);">Soporte</a>
                                        <a href="javascript: void(0);">Contactenos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end footer -->
                    <!-- ============================================================== -->
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
            <!-- Optional JavaScript -->
            <!-- Optional JavaScript -->
            <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
            <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
            <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
            <script>
                $(function (e) {
                    "use strict";
                    $(".date-inputmask").inputmask("dd/mm/yyyy"),
                        $(".phone-inputmask").inputmask("(999) 999-9999"),
                        $(".international-inputmask").inputmask("+9(999)999-9999"),
                        $(".xphone-inputmask").inputmask("(999) 999-9999 / x999999"),
                        $(".purchase-inputmask").inputmask("aaaa 9999-****"),
                        $(".cc-inputmask").inputmask("9999 9999 9999 9999"),
                        $(".ssn-inputmask").inputmask("999-99-9999"),
                        $(".isbn-inputmask").inputmask("999-99-999-9999-9"),
                        $(".currency-inputmask").inputmask("$9999"),
                        $(".percentage-inputmask").inputmask("99%"),
                        $(".decimal-inputmask").inputmask({
                            alias: "decimal",
                            radixPoint: "."
                        }),

                        $(".email-inputmask").inputmask({
                            mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[*{2,6}][*{1,2}].*{1,}[.*{2,6}][.*{1,2}]",
                            greedy: !1,
                            onBeforePaste: function (n, a) {
                                return (e = e.toLowerCase()).replace("mailto:", "")
                            },
                            definitions: {
                                "*": {
                                    validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~/-]",
                                    cardinality: 1,
                                    casing: "lower"
                                }
                            }
                        })
                });
            </script>
</body>

</html>