{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crear aspirante</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
                <nav class="navbar navbar-expand-lg bg-white fixed-top">
                    <a class="navbar-brand" href="{% url 'index' %}">SALA</a>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-right-top">
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" aria-haspopup="true"
                                    aria-expanded="false" data-toggle="modal" data-target="#exampleModal"><img
                                        src="{% static 'assets/images/logout.png' %}" alt=""
                                        class="user-avatar-md rounded-circle"></a>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Salir</h5>
                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea salir del sistema?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                        <a href="{% url 'logout' %}" class="btn btn-primary">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i>
                            Docente </a>
                        <div id="submenu-6" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'crearaspirante' %}">Crear Aspirante</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'creartaller' %}">Crear Taller</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'tomarasistencia' %}">Registrar
                                        Asistencia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'vertalleres' %}">Visualizar Talleres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'veraspirantes' %}">Visualizar
                                        Aspirantes</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    </li>
                    </ul>
            </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h1 class="text-center">Crear Aspirante</h1>
                </div>
                <!-- ============================================================== -->
                <!-- signup form  -->
                <!-- ============================================================== -->
                <div class="splash-container">
                    <form action="{% url 'crear_aspirante_accion' %}" method="POST">
                    <div class="card">
                        <div class="card-body">       
                                {% csrf_token %}
                                <div class="form-group">
                                        <input id="username" class="form-control form-control-lg" type="text" name="username" required=""
                                            placeholder="Username" autocomplete="off">
                                    </div>
                                <div class="form-group">
                                    <input id="nombre" class="form-control form-control-lg" type="text" name="nombre" required=""
                                        placeholder="Nombres" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input id="apellido" class="form-control form-control-lg" type="text" name="apellido" required=""
                                        placeholder="Apellidos" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input id="edad" class="form-control form-control-lg" type="number" name="edad" required=""
                                        placeholder="Edad" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="tipo_doc" name="tipo_doc">
                                        <option id="TI">Tarjeta de identidad</option>
                                        <option id="CC">Cedula ciudadania</option>
                                        <option id="CE">Cedula extranjería</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input id="num_doc" class="form-control form-control-lg" type="number" name="num_doc" required=""
                                        placeholder="Número de documento" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="genero" name="genero">
                                        <option id="FEM">Femenino</option>
                                        <option id="MAS">Masculino</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input id="correo"class="form-control form-control-lg" type="email" name="correo" required=""
                                        placeholder="Correo Electrónico" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input id="colegio" class="form-control form-control-lg" type="text" name="colegio" required=""
                                        placeholder="Colegio" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input id="ciudad" class="form-control form-control-lg" type="text" name="ciudad" required=""
                                        placeholder="Ciudad" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input id="direccion" class="form-control form-control-lg" type="text" name="direccion" required=""
                                        placeholder="Dirección" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input id="telefono" class="form-control form-control-lg" type="number" name="telefono"
                                        required="" placeholder="Teléfono de Contacto" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input id="nombre_acudiente"class="form-control form-control-lg" type="text" name="nombre_acudiente"
                                        required="" placeholder="Nombre de Acudiente" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input id="telefono_acudiente" class="form-control form-control-lg" type="number" name="telefono_acudiente"
                                        required="" placeholder="Teléfono de Contacto Acudiente" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="taller" name="taller">
                                        {% for taller in talleres %}
                                        <option value="{{taller.id}}">{{taller.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            
                        </div>
                        <div class="form-group pt-2">
                            <button class="btn btn-block btn-primary" type="submit">Registrar Aspirante</button>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- ============================================================== -->
                <!-- end recent orders  -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                Copyright © 2019 SALA. Todos los derechos reservados. Dashboard by <a
                                    href="https://colorlib.com/wp/">Colorlib</a>.
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript: void(0);">Acerca</a>
                                    <a href="javascript: void(0);">Soporte</a>
                                    <a href="javascript: void(0);">Contactenos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->
        <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
</body>

</html>