{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SALA</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
                <nav class="navbar navbar-expand-lg bg-white fixed-top">
                    <a class="navbar-brand" href="{% url 'index' %}">SALA</a>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-right-top">
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" aria-haspopup="true"
                                    aria-expanded="false" data-toggle="modal" data-target="#exampleModal"><img
                                        src="{% static 'assets/images/logout.png' %}" alt=""
                                        class="user-avatar-md rounded-circle"></a>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Salir</h5>
                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea salir del sistema?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                        <a href="{% url 'logout' %}" class="btn btn-primary">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i>
                            Docente </a>
                        <div id="submenu-6" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'crearaspirante' %}">Crear Aspirante</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'creartaller' %}">Crear Taller</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'tomarasistencia' %}">Registrar
                                        Asistencia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'vertalleres' %}">Visualizar Talleres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'veraspirantes' %}">Visualizar
                                        Aspirantes</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    </li>
                    </ul>
            </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h1 class="text-center">Modificar Aspirante: {{aspirante.usuario.first_name}}
                        {{aspirante.usuario.last_name}}</h1>
                </div>
            </div>
        </div>
        <!-- recent orders  -->
        <!-- ============================================================== -->
        <div class="col-xl-15 col-lg-15 col-md-16 col-sm-12 col-12">
            <div class="card">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Datos del aspirante</h5>
                            <div class="card-body">
                                <form action="{% url 'modificar_aspirante_accion' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="username" class="col-form-label">Username</label>
                                        <input id="username" type="text" name="username" class="form-control"
                                            value="{{aspirante.usuario.username}}">
                                        <label for="nombre" class="col-form-label">Nombre</label>
                                        <input id="nombre" type="text" name="nombre" class="form-control"
                                            value="{{aspirante.usuario.first_name}}">
                                        <label for="apellido" class="col-form-label">Apellido</label>
                                        <input id="apellido" type="text" name="apellido" class="form-control"
                                            value="{{aspirante.usuario.last_name}}">
                                        <label for="edad" class="col-form-label">Edad</label>
                                        <input id="edad" type="number" name="edad" class="form-control"
                                            value="{{aspirante.edad}}">
                                        <br>
                                        <div class="form-group">
                                            <label for="input-select">Tipo documento</label>
                                            <select class="form-control" id="tipo_doc" name="tipo_doc">
                                                <option value="CC">Cedula ciudadania</option>
                                                <option value="TI">Tarjeta de identidad</option>
                                                <option value="CE">Cedula extranjeria</option>
                                            </select>
                                        </div>
                                        <label for="num_doc" class="col-form-label">Numero documento</label>
                                        <input id="num_doc" type="number" name="num_doc" class="form-control"
                                            value="{{aspirante.num_doc}}">
                                        <br>
                                        <div class="form-group">
                                            <label for="input-select">Genero</label>
                                            <select class="form-control" id="genero" name="genero">
                                                <option value="FEM">Femenino</option>
                                                <option value="MAS">Masculino</option>
                                            </select>
                                        </div>
                                        <label for="email" class="col-form-label">Correo</label>
                                        <input id="emamil" type="email" name="email" class="form-control"
                                            value="{{aspirante.usuario.email}}">
                                        <label for="colegio" class="col-form-label">Colegio</label>
                                        <input id="colegio" type="text" name="colegio" class="form-control"
                                            value="{{aspirante.colegio}}">
                                        <label for="ciudad" class="col-form-label">Ciudad</label>
                                        <input id="ciudad" type="text" name="ciudad" class="form-control"
                                            value="{{aspirante.ciudad}}">
                                        <label for="direccion" class="col-form-label">Direccion</label>
                                        <input id="direccion" type="text" name="direccion" class="form-control"
                                            value="{{aspirante.direccion}}">
                                        <label for="telefono" class="col-form-label">Telefono
                                            contacto</label>
                                        <input id="telefono" type="number" name="telefono"
                                            class="form-control" value="{{aspirante.telefono}}">
                                        <label for="nombre_acudiente" class="col-form-label">Nombre acudiente</label>
                                        <input id="nombre_acudiente" type="text" name="nombre_acudiente"
                                            class="form-control" value="{{aspirante.nombre_acudiente}}">
                                        <label for="telefono_acudiente" class="col-form-label">Telefono
                                            acudiente</label>
                                        <input id="telefono_acudiente" type="number" name="telefono_acudiente"
                                            class="form-control" value="{{aspirante.telefono_acudiente}}">
                                        <label for="horario" class="col-form-label"></label>
                                        <br>
                                        <div class="form-group">
                                            <label for="input-select">Taller</label>
                                            <select class="form-control" id="taller" name="taller">
                                                {% for taller in talleres %}
                                                <option value="{{taller.id}}">{{taller.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <input type="hidden" name="id" value="{{aspirante.id}}">
                                        <input type="hidden" name="idd" value="{{aspirante.usuario.id}}">
                                    </div>
                                    <button class="btn btn-primary">Modificar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end recent orders  -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © 2019 SALA. Todos los derechos reservados. Dashboard by <a
                            href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">Acerca</a>
                            <a href="javascript: void(0);">Soporte</a>
                            <a href="javascript: void(0);">Contactenos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
</body>

</html>