{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SALA</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="{% url 'index' %}">SALA</a>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" aria-haspopup="true"
                                aria-expanded="false" data-toggle="modal" data-target="#exampleModal"><img
                                    src="{% static 'assets/images/logout.png' %}" alt=""
                                    class="user-avatar-md rounded-circle"></a>
                </div>
                </li>
                </ul>
        </div>
        </nav>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Salir</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro que desea salir del sistema?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                    <a href="{% url 'logout' %}" class="btn btn-primary">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Menu</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                data-target="#submenu-1" aria-controls="submenu-1"><i
                                    class="fa fa-fw fa-user-circle"></i>Administrador <span
                                    class="badge badge-success">6</span></a>
                            <div id="submenu-1">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                            data-target="#submenu-1-2" aria-controls="submenu-1-2">Usuarios</a>
                                        <div id="submenu-1-2" class="collapse submenu">
                                            <ul class="nav flex-column">
                                                <li class=" nav-item">
                                                    <a class="nav-link" href="{% url 'activardesactivar' %}">Activar
                                                        o
                                                        desactivar
                                                        usuario</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'crear_aspirante_admin' %}"">Crear Aspirante</a>
                                                    </li>
                                                    <li class=" nav-item">
                                                        <a class="nav-link" href="{% url 'crear_docente_admin' %}"">Crear Docente</a>
                                                    </li>
                                                    <li class=" nav-item">
                                                            <a class="nav-link"
                                                                href="{% url 'veraspirantes_admin' %}">Visualizar
                                                                Aspirantes</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'verdocentes' %}">Visualizar
                                                        Docentes</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                            data-target="#submenu-1-1" aria-controls="submenu-1-1">Taller</a>
                                        <div id="submenu-1-1" class="collapse submenu">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'creartaller_admin' %}">Crear
                                                        Taller</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'vertalleres_admin' %}">Visualizar
                                                        Talleres</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    </ul>
                </div>
                </li>
                </ul>
        </div>
        </nav>
    </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h1 class="text-center">Modificar Docente: {{docente.usuario.first_name}}
                        {{docente.usuario.last_name}}</h1>
                </div>
            </div>
        </div>
        <!-- recent orders  -->
        <!-- ============================================================== -->
        <div class="col-xl-15 col-lg-15 col-md-16 col-sm-12 col-12">
            <div class="card">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Datos del docente</h5>
                            <div class="card-body">
                                <form action="{% url 'modificar_docente_accion' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="username" class="col-form-label">Username</label>
                                        <input id="username" type="text" name="username" class="form-control"
                                            value="{{docente.usuario.username}}">
                                        <label for="nombre" class="col-form-label">Nombre</label>
                                        <input id="nombre" type="text" name="nombre" class="form-control"
                                            value="{{docente.usuario.first_name}}">
                                        <label for="apellido" class="col-form-label">Apellido</label>
                                        <input id="apellido" type="text" name="apellido" class="form-control"
                                            value="{{docente.usuario.last_name}}">
                                        <br>
                                        <div class="form-group">
                                            <label for="input-select">Tipo documento</label>
                                            <select class="form-control" id="tipo_doc" name="tipo_doc">
                                                <option value="CC">Cedula ciudadania</option>
                                                <option value="CE">Cedula extranjeria</option>
                                            </select>
                                        </div>
                                        <label for="num_doc" class="col-form-label">Numero documento</label>
                                        <input id="num_doc" type="number" name="num_doc" class="form-control"
                                            value="{{docente.num_doc}}">
                                        <br>
                                        <div class="form-group">
                                            <label for="input-select">Genero</label>
                                            <select class="form-control" id="genero" name="genero">
                                                <option value="FEM">Femenino</option>
                                                <option value="MAS">Masculino</option>
                                            </select>
                                        </div>
                                        <label for="email" class="col-form-label">Correo</label>
                                        <input id="emamil" type="email" name="email" class="form-control"
                                            value="{{docente.usuario.email}}">
                                        <input type="hidden" name="id" value="{{docente.id}}">
                                        <input type="hidden" name="idd" value="{{docente.usuario.id}}">
                                    </div>
                                    <button class="btn btn-primary">Modificar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end recent orders  -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © 2019 SALA. Todos los derechos reservados. Dashboard by <a
                            href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">Acerca</a>
                            <a href="javascript: void(0);">Soporte</a>
                            <a href="javascript: void(0);">Contactenos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
</body>

</html>