{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Modificar taller</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
                <nav class="navbar navbar-expand-lg bg-white fixed-top">
                    <a class="navbar-brand" href="{% url 'index' %}">SALA</a>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-right-top">
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" aria-haspopup="true"
                                    aria-expanded="false" data-toggle="modal" data-target="#exampleModal"><img
                                        src="{% static 'assets/images/logout.png' %}" alt=""
                                        class="user-avatar-md rounded-circle"></a>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Salir</h5>
                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea salir del sistema?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                        <a href="{% url 'logout' %}" class="btn btn-primary">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i>
                            Docente </a>
                        <div id="submenu-6" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'crearaspirante' %}">Crear Aspirante</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'creartaller' %}">Crear Taller</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'tomarasistencia' %}">Registrar
                                        Asistencia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'vertalleres' %}">Visualizar Talleres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'veraspirantes' %}">Visualizar
                                        Aspirantes</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    </li>
                    </ul>
            </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Taller: {{taller.nombre}} </h2>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->

            <div class="row">
                <!-- ============================================================== -->
                <!-- basic list  -->
                <!-- ============================================================== -->
                <div class="col-xl-15 col-lg-15 col-md-16 col-sm-12 col-12">
                    <div class="card">

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                <div class="card">
                                    <h5 class="card-header">Datos del taller</h5>
                                    <div class="card-body">
                                        <form action="{% url 'modificar_taller_accion' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="nombre" class="col-form-label">Nombre</label>
                                                <input id="nombre" type="text" name="nombre" class="form-control"
                                                    value="{{taller.nombre}}">
                                                <label for="descripcion" class="col-form-label">Descripcion</label>
                                                <input id="descripcion" type="text" name="descripcion"
                                                    class="form-control" value="{{taller.descripcion}}">
                                                <label for="codigo" class="col-form-label">Codigo</label>
                                                <input id="codigo" type="number" name="codigo" class="form-control"
                                                    value="{{taller.codigo}}">
                                                <label for="capacidad" class="col-form-label">Capacidad</label>
                                                <input id="capacidad" type="number" name="capacidad"
                                                    class="form-control" value="{{taller.capacidad}}">
                                                <br>
                                                <div class="form-group">
                                                    <label for="input-select">Docente</label>
                                                    <select class="form-control" id="docente" name="docente">
                                                        {% for docente in docentes %}
                                                        <option value="{{docente.id}}">{{docente.usuario.first_name}} {{docente.usuario.last_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <label for="horario" class="col-form-label">Horario</label>
                                                <input id="horario" type="text" name="horario" class="form-control"
                                                    value="{{taller.horario}}">
                                                <input type="hidden" name="id" value="{{taller.id}}">
                                            </div>
                                            <button class="btn btn-primary">Modificar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- end custom content list  -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2019 SALA. Todos los derechos reservados. Dashboard by <a
                                href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">Acerca</a>
                                <a href="javascript: void(0);">Soporte</a>
                                <a href="javascript: void(0);">Contactenos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
</body>

</html>